# Introduction to Scikit Learn

In [10]:
# get data ready
import pandas as pd
import numpy as np
heart_disease=pd.read_csv('heart-disease.csv')
heart_disease

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [2]:
#features matrix
X=heart_disease.drop('target',axis=1)

y=heart_disease['target']

In [ ]:
import warnings
warnings.filterwarnings('ignore') # if you want to ignore all warnings

In [24]:
import sklearn
sklearn.show_versions()

System:
    python: 3.11.5 (main, Sep 11 2023, 08:19:27) [Clang 14.0.6 ]
executable: /Users/balaji/anaconda3/bin/python
   machine: macOS-10.16-x86_64-i386-64bit

Python dependencies:
      sklearn: 1.3.0
          pip: 23.2.1
   setuptools: 68.0.0
        numpy: 1.24.3
        scipy: 1.11.1
       Cython: None
       pandas: 2.0.3
   matplotlib: 3.7.2
       joblib: 1.2.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: /Users/balaji/anaconda3/lib/libopenblasp-r0.3.21.dylib
         prefix: libopenblas
       user_api: blas
   internal_api: openblas
        version: 0.3.21
    num_threads: 10
threading_layer: pthreads
   architecture: Nehalem

       filepath: /Users/balaji/anaconda3/lib/libomp.dylib
         prefix: libomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 10

In [6]:
# choose model and hyperparameters 
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()

#keep defualt hyper params
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# fit model to data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test=train_test_split(X,y,test_size=0.2)

In [9]:
clf.fit(X_train,y_train);

In [11]:
#make a prediction
y_label=clf.predict(np.array([0,2,3,4]))

/Users/balaji/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [13]:
y_pred=clf.predict(X_test)
y_pred

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0])

In [14]:
# evaluate
clf.score(X_train,y_train)

1.0

In [15]:
clf.score(X_test,y_test)

0.8360655737704918

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.83      0.80        24
           1       0.89      0.84      0.86        37

    accuracy                           0.84        61
   macro avg       0.83      0.84      0.83        61
weighted avg       0.84      0.84      0.84        61

In [18]:
confusion_matrix(y_test,y_pred)

array([[20,  4],
       [ 6, 31]])

In [19]:
accuracy_score(y_test,y_pred)

0.8360655737704918

In [21]:
# improve model

#try different amoount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators")
    clf=RandomForestClassifier(n_estimators=i)
    clf.fit(X_train,y_train)
    print(f"Model acurracy on test set: {clf.score(X_test,y_test)*100:.2f}%")
    print(" ")

Trying model with 10 estimators
Model acurracy on test set: 78.69%

Trying model with 20 estimators
Model acurracy on test set: 86.89%

Trying model with 30 estimators
Model acurracy on test set: 78.69%

Trying model with 40 estimators
Model acurracy on test set: 86.89%

Trying model with 50 estimators
Model acurracy on test set: 85.25%

Trying model with 60 estimators
Model acurracy on test set: 83.61%

Trying model with 70 estimators
Model acurracy on test set: 85.25%

Trying model with 80 estimators
Model acurracy on test set: 81.97%

Trying model with 90 estimators
Model acurracy on test set: 83.61%

In [22]:
# save a model
import pickle

pickle.dump(clf,open('random_forest_model_1.pkl','wb'))

In [23]:
loaded_model=pickle.load(open('random_forest_model_1.pkl', 'rb'))
loaded_model.score(X_test,y_test)

0.8360655737704918

In [26]:
# Standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Getting data Ready

1. split the data into features and labels (X and y)
2. Filling (imputing) missing values
3. non numeric values to numeric values (feature encoding)

In [27]:
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [28]:
X=heart_disease.drop('target', axis=1)
X.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

In [31]:
y=heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### Split data into training and test sets

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [33]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

## Make sure its all numerical